<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBulletinLabel" jhiTranslate="senPaieApp.bulletin.home.createOrEditLabel">Create or edit a Bulletin</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <table width="100%">
            <tr>
                <td style="width: 25%">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.collaborateur" for="field_collaborateur">Collaborateur</label>
                        <select class="form-control" id="field_collaborateur" name="collaborateur"
                                [(ngModel)]="bulletin.collaborateur"  required (change)="collabChoisi(bulletin.collaborateur)">
                            <option *ngIf="!editForm.value.collaborateur" [ngValue]="null" selected></option>
                            <option [ngValue]="collaborateurOption.id === bulletin.collaborateur?.id ? bulletin.collaborateur : collaborateurOption"
                                    *ngFor="let collaborateurOption of collaborateurs; trackBy: trackCollaborateurById">{{collaborateurOption.prenom}} {{collaborateurOption.nom}}</option>
                        </select>
                    </div>
                </td>
                <td style="width: 25%">
                    <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.emploi" >Emploi</label>
                    <label  class="form-control" disabled>{{fonction?.libelle}}</label>
                </td>
                <td style="width: 25%">
                    <label class="form-control-label" jhiTranslate="senPaieApp.categorie.detail.title" >Catégorie</label>
                    <label  class="form-control">{{categorie?.libelle}} </label>
                </td>
                <td style="width: 25%">
                    <label class="form-control-label" jhiTranslate="senPaieApp.nationalite.detail.title" >Catégorie</label>
                    <label  class="form-control">{{nationalite?.libelle}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.nationalite.detail.convention" >Convention</label>
                    <label  class="form-control">{{convention?.libelle}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.title" >Convention</label>
                    <label class="form-control"  >{{statut?.libelle}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.situationMatrimoniale.detail.title" >Situation matrimoniale</label>
                    <label class="form-control"  >{{situationMatrimoniale?.libelle}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.NbFemmes" >Nb Femmes</label>
                    <label class="form-control"  >{{nbFemme}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.NbEnf">Nb Enfants</label>
                    <label class="form-control"  >{{nbEnfant}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.NbParts">Nb Parts</label>
                    <label class="form-control"  >{{nombreParts}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.tauxH">Taux Horaire</label>
                    <label class="form-control"  >{{collaborateur?.tauxHoraire}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.typeC">Type Contrat</label>
                    <label class="form-control"  >{{typeContrat?.code}}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.salBase">Salaire de Base</label>
                    <label class="form-control" >{{collaborateur?.salaireDeBase|number :'1.0'}}</label>
                </td>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.statut.detail.surSal">Sursalaire</label>
                    <label class="form-control"  >{{collaborateur?.surSalaire|number :'1.0'}}</label>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.primeImpo" >Prime(s) imposable</label>
                        <input type="text" class="form-control" name="primeNonImpos"  disabled
                               value="{{bulletin?.primeImposable|number:'1.0'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.avantage" >Avantage(s)</label>
                        <input type="text" class="form-control" name="avantage"  disabled
                               value="{{bulletin?.avantage|number:'1.0'}}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.brutFiscal">Brut Fiscal</label>
                    <label class="form-control"  >{{bulletin?.brutFiscal|number :'1.0'}}</label>
                </td>

                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.primeTransport" >Prime Transport</label>
                        <label class="form-control"  >{{collaborateur?.primeTransport|number :'1.0'}}</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.primeNonImpo" >Prime(s) non imposable</label>
                        <input type="text" class="form-control" name="primeNonImpos"  disabled
                               value="{{bulletin?.primeNonImposable|number:'1.0'}}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.salaireBrutMensuel" >Salaire Brut Mensuel</label>
                    <label class="form-control"  >{{bulletin?.salaireBrutMensuel|number :'1.0'}}</label>
                </div>
                </td>
                <td>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.impotSurRevenu" >Impot sur le revenu</label>
                    <label class="form-control"  >{{bulletin?.impotSurRevenu|number :'1.0'}}</label>
                </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.trimf" >TRIMF</label>
                        <label class="form-control"  >{{bulletin?.trimf|number :'1.0'}}</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.ipresRG" >IPRES Régime Général</label>
                        <input class="form-control"  type="text" disabled value="{{bulletin?.ipresPartSalariale|number :'1.0'}}"/>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.ipm" >IPM</label>
                        <label class="form-control"  >{{ipm|number:'1.0'}}</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.retenueIpm" for="field_retenueIpm">Retenue Ipm</label>
                        <input type="number" class="form-control" name="retenueIpm" id="field_retenueIpm"
                               [(ngModel)]="bulletin.retenueIpm" (blur)="getTotalRetenue()"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.retenuePharmacie" for="field_retenuePharmacie">Retenue Pharmacie</label>
                        <input type="number" class="form-control" name="retenuePharmacie" id="field_retenuePharmacie"
                               [(ngModel)]="bulletin.retenuePharmacie" (blur)="getTotalRetenue()"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.retenueRepas" >Retenue repas</label>
                        <label class="form-control"  >{{collaborateur?.retenueRepas|number :'1.0'}}</label>
                    </div>
                </td>
            </tr>
            <tr>
                <!--<td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.primeImpo" >Prime(s) imposable</label>
                        <input type="text" class="form-control" name="primeImpos"  disabled
                               value="{{bulletin?.primeImposable|number:'1.0'}}" />
                    </div>
                </td>-->

                <!--<td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.avantage" >Avantage(s)</label>
                        <input type="text" class="form-control" name="avantage"  disabled
                               value="{{bulletin?.avantage|number:'1.0'}}" />
                    </div>
                </td>-->
            </tr>
        </table>
        <div class="form-group">
            <label jhiTranslate="senPaieApp.bulletin.remboursement" for="field_remboursement">Remboursement</label>
            <select class="form-control" id="field_remboursement" multiple spellcheck="true" name="remboursement" [(ngModel)]="bulletin.remboursements"
            (click)="getTotalRetenue()" >
                <option  [ngValue]="getSelected(bulletin.remboursements, remboursementOption)" *ngFor="let remboursementOption of remboursements;
                trackBy: trackRemboursementById">
                    {{remboursementOption?.detailPret?.pret?.libelle}} - {{remboursementOption?.detailPret?.montant}} -
                    {{remboursementOption?.dateRemboursement|date:'MMMM/yyyy'}}</option>
            </select>
        </div>

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.totRetenue" >Tot Retenue</label>
                        <input type="text" class="form-control" name="totRetenue" disabled
                               value="{{bulletin?.totRetenue|number:'1.0'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.netAPayer" >Net A Payer</label>
                        <input type="text" class="form-control" name="netAPayer"  disabled
                               value="{{bulletin?.netAPayer|number:'1.0'}}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.cssAccidentDeTravail" for="field_cssAccidentDeTravail">Css Accident De Travail</label>
                        <input type="text" class="form-control" disabled name="cssAccidentDeTravail" id="field_cssAccidentDeTravail"
                               value="{{bulletin.cssAccidentDeTravail|number:'1.0'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.cssPrestationFamiliale" for="field_cssPrestationFamiliale">Css Prestation Familiale</label>
                        <input type="text" class="form-control" disabled name="cssPrestationFamiliale" id="field_cssPrestationFamiliale"
                               value="{{bulletin.cssPrestationFamiliale|number:'1.0'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.ipresPartPatronales" for="field_ipresPartPatronales">Ipres Part Patronales</label>
                        <input type="text" class="form-control" disabled name="ipresPartPatronales" id="field_ipresPartPatronales"
                               value="{{bulletin.ipresPartPatronales|number:'1.0'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.ipmPatronale" for="field_ipmPatronale">Ipm Patronale</label>
                        <input type="text" class="form-control" name="ipmPatronale" id="field_ipmPatronale" disabled
                               value="{{bulletin.ipmPatronale|number:'1.0'}}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.contributionForfaitaire" for="field_contributionForfaitaire">Contribution Forfaitaire</label>
                        <input type="text" class="form-control" disabled name="contributionForfaitaire" id="field_contributionForfaitaire"
                               value="{{bulletin.contributionForfaitaire|number:'1.0'}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.moisConcerne.detail.title" for="field_mois">Mois</label>
                        <select class="form-control" id="field_mois" name="field_mois" [(ngModel)]="bulletin.moisConcerne"  required>
                            <option *ngIf="!editForm.value.moisConcerne" [ngValue]="null" selected></option>
                            <option [ngValue]="mois.id === bulletin.moisConcerne?.id ? bulletin.moisConcerne : mois"
                                    *ngFor="let mois of moisConcernes; trackBy: trackMoisConcerneById">{{mois.libelle}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.absence.exercice" for="field_exercice">Exercice</label>
                        <select class="form-control" id="field_exercice" name="exercice" [(ngModel)]="bulletin.exercice"  required>
                            <option *ngIf="!editForm.value.exercice" [ngValue]="null" selected></option>
                            <option [ngValue]="exerciceOption.id === bulletin.exercice?.id ? bulletin.exercice : exerciceOption"
                                    *ngFor="let exerciceOption of exercices; trackBy: trackExerciceById">{{exerciceOption.debutExercice}}</option>
                        </select>
                    </div>
                </td>
                <td colspan="1">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.bulletin.typePaiement" for="field_typePaiement">Type Paiement</label>
                        <select class="form-control" id="field_typePaiement" name="typePaiement" [(ngModel)]="bulletin.typePaiement"  required>
                            <option *ngIf="!editForm.value.typePaiement" [ngValue]="null" selected></option>
                            <option [ngValue]="typePaiementOption.id === bulletin.typePaiement?.id ? bulletin.typePaiement : typePaiementOption" *ngFor="let typePaiementOption of typepaiements; trackBy: trackTypePaiementById">{{typePaiementOption.libelle}}</option>
                        </select>
                    </div>
                    <div [hidden]="!(editForm.controls.typePaiement?.dirty && editForm.controls.typePaiement?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.typePaiement?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </td>
            </tr>
        </table>

















    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
