<div>
    <h2>
        <span jhiTranslate="senPaieApp.absence.home.critere">Critéres de recherche</span>
    </h2>
    <div class="row">
        <form name="editForm" role="form" novalidate (ngSubmit)="search()" #editForm="ngForm">
            <table class="table">
                <tr>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.prenom" for="field_prenom">Prénom</label></td>
                    <td>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="prenom" name="prenom" id="field_prenom">
                        </div>
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.nom" for="field_nom">Nom</label></td>
                    <td>
                        <input type="text" [(ngModel)]="nom" name="nom" id="field_nom">
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.matricule" for="field_matri">Matricule</label></td>
                    <td>
                        <input type="text" [(ngModel)]="matricule" name="matricule" id="field_matri">
                    </td>
                </tr>
                <tr>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.moisConcerne.detail.title" for="field_mois">Mois</label></td>
                    <td>

                            <select class="form-control" id="field_mois" name="field_mois" [(ngModel)]="moisConcerne"  required>
                                <option *ngIf="!editForm.value.moisConcerne" [ngValue]="null" selected></option>
                                <option [ngValue]="mois.id === moisConcerne?.id ? moisConcerne : mois"
                                        *ngFor="let mois of moisConcernes; trackBy: trackMoisConcerneById">{{mois.libelle}}</option>
                            </select>
                    </td>

                    <td><label class="form-control-label" jhiTranslate="senPaieApp.exercice.debutExercice" for="field_exo">Exercice</label></td>
                    <td>

                        <select class="form-control" id="field_exo" name="field_exo" [(ngModel)]="exercice"  required>
                            <option *ngIf="!editForm.value.exercice" [ngValue]="null" selected></option>
                            <option [ngValue]="exo.id === exercice?.id ? exercice : exo"
                                    *ngFor="let exo of exercices; trackBy: trackExerciceById">{{exo.debutExercice}}</option>
                        </select>
                    </td>

                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.deleted" for="field_del">Supprimé?</label></td>
                    <td>
                        <input type="checkbox" [(ngModel)]="deleted" name="deleted" id="field_del">
                    </td>
                    <td>
                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                            <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Rechercher</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <h2>

        <button class="btn btn-primary float-right jh-create-entity create-bulletin" [routerLink]="['/', { outlets: { popup: ['bulletin-new'] } }]"
                *jhiHasAnyAuthority="['ROLE_RH']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="senPaieApp.bulletin.home.createLabel">
            Create new Bulletin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <h2>
            <span jhiTranslate="senPaieApp.bulletin.home.title">Bulletins</span>
        </h2>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bulletins">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="collaborateur.prenom"><span jhiTranslate="senPaieApp.bulletin.collaborateur">Collaborateur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateCreated"><span jhiTranslate="senPaieApp.bulletin.dateCreated">Date Created</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="brutFiscal"><span jhiTranslate="senPaieApp.bulletin.brutFiscal">Brut Fiscal</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="primeTransport"><span jhiTranslate="senPaieApp.bulletin.primeTransport">Prime Transport</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="netAPayer"><span jhiTranslate="senPaieApp.bulletin.netAPayer">Net A Payer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="salaireBrutMensuel"><span jhiTranslate="senPaieApp.bulletin.salaireBrutMensuel">Salaire Brut Mensuel</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="impotSurRevenu"><span jhiTranslate="senPaieApp.bulletin.impotSurRevenu">Impot Sur Revenu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trimf"><span jhiTranslate="senPaieApp.bulletin.trimf">Trimf</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ipresPartSalariale"><span jhiTranslate="senPaieApp.bulletin.ipresPartSalariale">Ipres Part Salariale</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totRetenue"><span jhiTranslate="senPaieApp.bulletin.totRetenue">Tot Retenue</span> <span class="fa fa-sort"></span></th>

            <th jhiSortBy="typePaiement.libelle"><span jhiTranslate="senPaieApp.bulletin.typePaiement">Type Paiement</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bulletin of bulletins ;trackBy: trackId">
                <td>
                    <div *ngIf="bulletin.collaborateur">
                        <a [routerLink]="['../collaborateur', bulletin.collaborateur?.id ]" >{{bulletin.collaborateur?.prenom}} {{bulletin.collaborateur?.nom}}</a>
                    </div>
                </td>
                <td>{{bulletin.dateCreated | date:'mediumDate'}}</td>
                <td>{{bulletin.brutFiscal|number :'1.0'}}</td>
                <td>{{bulletin.primeTransport|number :'1.0'}}</td>
                <td>{{bulletin.netAPayer|number :'1.0'}}</td>
                <td>{{bulletin.salaireBrutMensuel|number :'1.0'}}</td>
                <td>{{bulletin.impotSurRevenu|number :'1.0'}}</td>
                <td>{{bulletin.trimf|number :'1.0'}}</td>
                <td>{{bulletin.ipresPartSalariale|number :'1.0'}}</td>
                <td>{{bulletin.totRetenue|number :'1.0'}}</td>

                <td>
                    <div *ngIf="bulletin.typePaiement">
                        <a [routerLink]="['../type-paiement', bulletin.typePaiement?.id ]" >{{bulletin.typePaiement?.libelle}}</a>
                    </div>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bulletin', bulletin.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bulletin/'+ bulletin.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_RH']"
                                [routerLink]="['/', { outlets: { popup: 'bulletin/'+ bulletin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bulletins && bulletins.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
