<div>
    <h2>
        <span jhiTranslate="senPaieApp.absence.home.critere">Critéres de recherche</span>
    </h2>
    <div class="row">
        <form name="editForm" role="form" novalidate (ngSubmit)="search()" #editForm="ngForm">
            <table class="table">
                <tr>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.prenom" for="field_prenom">Prénom</label></td>
                    <td>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="prenom" name="prenom" id="field_prenom">
                        </div>
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.nom" for="field_nom">Nom</label></td>
                    <td>
                        <input type="text" [(ngModel)]="nom" name="nom" id="field_nom">
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.matricule" for="field_matri">Matricule</label></td>
                    <td>
                        <input type="text" [(ngModel)]="matricule" name="matricule" id="field_matri">
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.deleted" for="field_del">Supprimé?</label></td>
                    <td>
                        <input type="checkbox" [(ngModel)]="deleted" name="deleted" id="field_del">
                    </td>
                    <td>
                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                            <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Rechercher</span>
                        </button>
                    </td>

                </tr>

            </table>


        </form>

    </div>

    <h2>
        <span jhiTranslate="senPaieApp.pieces.home.title">Pieces</span>
        <button class="btn btn-primary float-right jh-create-entity create-pieces" [routerLink]="['/', { outlets: { popup: ['pieces-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="senPaieApp.pieces.home.createLabel">
            Create new Pieces
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pieces">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="collaborateur.prenom"><span jhiTranslate="senPaieApp.pieces.collaborateur">Collaborateur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="libelle"><span jhiTranslate="senPaieApp.pieces.libelle">Libelle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateDebut"><span jhiTranslate="senPaieApp.pieces.dateDebut">Date Debut</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateExpiration"><span jhiTranslate="senPaieApp.pieces.dateExpiration">Date Expiration</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="senPaieApp.pieces.image">Image</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pieces of pieces ;trackBy: trackId">
                <td>
                    <div *ngIf="pieces.collaborateur">
                        <a [routerLink]="['../collaborateur', pieces.collaborateur?.id ]" >
                            {{pieces.collaborateur?.prenom}} {{pieces.collaborateur?.nom}}</a>
                    </div>
                </td>
                <td>{{pieces.libelle}}</td>
                <td>{{pieces.dateDebut | date:'mediumDate'}}</td>
                <td>{{pieces.dateExpiration | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="pieces.image" (click)="openFile(pieces.imageContentType, pieces.image)">
                        <img [src]="'data:' + pieces.imageContentType + ';base64,' + pieces.image" style="max-height: 30px;" alt="pieces image"/>
                    </a>
                    <span *ngIf="pieces.image">{{pieces.imageContentType}}, {{byteSize(pieces.image)}}</span>
                </td>


                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pieces', pieces.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pieces/'+ pieces.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pieces/'+ pieces.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pieces && pieces.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
