<div>
    <h2>
        <span jhiTranslate="senPaieApp.bareme.home.title">Baremes</span>
        <button class="btn btn-primary float-right jh-create-entity create-bareme" [routerLink]="['/', { outlets: { popup: ['bareme-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="senPaieApp.bareme.home.createLabel">
            Create new Bareme
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="baremes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="revenuBrut"><span jhiTranslate="senPaieApp.bareme.revenuBrut">Revenu Brut</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trimF"><span jhiTranslate="senPaieApp.bareme.trimF">Trim F</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unePart"><span jhiTranslate="senPaieApp.bareme.unePart">Une Part</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unePartEtDemi"><span jhiTranslate="senPaieApp.bareme.unePartEtDemi">Une Part Et Demi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deuxParts"><span jhiTranslate="senPaieApp.bareme.deuxParts">Deux Parts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deuxPartsEtDemi"><span jhiTranslate="senPaieApp.bareme.deuxPartsEtDemi">Deux Parts Et Demi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="troisParts"><span jhiTranslate="senPaieApp.bareme.troisParts">Trois Parts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="troisPartsEtDemi"><span jhiTranslate="senPaieApp.bareme.troisPartsEtDemi">Trois Parts Et Demi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quatreParts"><span jhiTranslate="senPaieApp.bareme.quatreParts">Quatre Parts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quatrePartsEtDemi"><span jhiTranslate="senPaieApp.bareme.quatrePartsEtDemi">Quatre Parts Et Demi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cinqParts"><span jhiTranslate="senPaieApp.bareme.cinqParts">Cinq Parts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleted"><span jhiTranslate="senPaieApp.bareme.deleted">Deleted</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bareme of baremes ;trackBy: trackId">
                <td><a [routerLink]="['../bareme', bareme.id ]">{{bareme.id}}</a></td>
                <td>{{bareme.revenuBrut}}</td>
                <td>{{bareme.trimF}}</td>
                <td>{{bareme.unePart}}</td>
                <td>{{bareme.unePartEtDemi}}</td>
                <td>{{bareme.deuxParts}}</td>
                <td>{{bareme.deuxPartsEtDemi}}</td>
                <td>{{bareme.troisParts}}</td>
                <td>{{bareme.troisPartsEtDemi}}</td>
                <td>{{bareme.quatreParts}}</td>
                <td>{{bareme.quatrePartsEtDemi}}</td>
                <td>{{bareme.cinqParts}}</td>
                <td>{{bareme.deleted}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bareme', bareme.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bareme/'+ bareme.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bareme/'+ bareme.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="baremes && baremes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
