
<div *ngIf="typeAbsence">
    <h2><span jhiTranslate="senPaieApp.typeAbsence.detail.title">Type Absence</span> {{typeAbsence.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senPaieApp.typeAbsence.libelle">Libelle</span></dt>
        <dd>
            <span>{{typeAbsence.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.typeAbsence.code">Code</span></dt>
        <dd>
            <span>{{typeAbsence.code}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.typeAbsence.deleted">Deleted</span></dt>
        <dd>
            <span>{{typeAbsence.deleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'type-absence/'+ typeAbsence.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
