<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDemandeCongeLabel" jhiTranslate="senPaieApp.demandeConge.home.createOrEditLabel">Create or edit a Demande Conge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="senPaieApp.demandeConge.type" for="field_categorie">Type Demande</label>
                <select class="form-control" id="field_categorie" name="categorie" [(ngModel)]="demandeConge.typeAbsence" required>
                    <option [ngValue]="null"></option>
                    <option [ngValue]="categorieOption.id === demandeConge.typeAbsence?.id ? demandeConge.typeAbsence : categorieOption" *ngFor="let categorieOption of typeAbsences; trackBy: trackCategorieById">{{categorieOption.libelle}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="senPaieApp.motif.libelle" for="field_libelle">Libelle</label>
                <input type="text" class="form-control" name="libelle" id="field_libelle"
                       [(ngModel)]="demandeConge.libelle" required/>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="senPaieApp.demandeConge.dateDebut" for="field_dateDebut">Date Debut</label>
                <div class="input-group">
                    <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" [(ngModel)]="demandeConge.dateDebut"
                    required/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div [hidden]="!(editForm.controls.dateDebut?.dirty && editForm.controls.dateDebut?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.dateDebut?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.demandeConge.dateFin" for="field_dateFin">Date Fin</label>
            <div class="input-group">
                <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="demandeConge.dateFin"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateFin?.dirty && editForm.controls.dateFin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateFin?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>


        <div *jhiHasAnyAuthority="['ROLE_RH']">
            <div class="form-group"  *ngIf="demandeConge.id>0" >
                <label class="form-control-label" jhiTranslate="senPaieApp.demandeConge.statutRH" for="field_statutRH">Statut RH</label>
                <select class="form-control" id="field_statutRH" name="statutRH" [(ngModel)]="demandeConge.statutRH" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="statutDemandeOption.id === demandeConge.statutRH?.id ? demandeConge.statutRH : statutDemandeOption" *ngFor="let statutDemandeOption of statutdemandes; trackBy: trackStatutDemandeById">{{statutDemandeOption.libelle}}</option>
                </select>
            </div>
        </div>
        <div *jhiHasAnyAuthority="['ROLE_DG']">
            <div class="form-group" [hidden]="!demandeConge.id">
                <label class="form-control-label" jhiTranslate="senPaieApp.demandeConge.statutDG" for="field_statutDG">Statut DG</label>
                <select class="form-control" id="field_statutDG" name="statutDG" [(ngModel)]="demandeConge.statutDG" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="statutDemandeOption.id === demandeConge.statutDG?.id ? demandeConge.statutDG : statutDemandeOption" *ngFor="let statutDemandeOption of statutdemandes; trackBy: trackStatutDemandeById">{{statutDemandeOption.libelle}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" [hidden]="!demandeConge.id" >
            <label class="form-control-label" jhiTranslate="senPaieApp.demandeConge.motifRejet" for="field_motifRejet">Motif Rejet</label>
            <input type="text" class="form-control" name="motifRejet" id="field_motifRejet"
                   [(ngModel)]="demandeConge.motifRejet" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
