<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRemboursementLabel" jhiTranslate="senPaieApp.remboursement.home.createOrEditLabel">Create or edit a Remboursement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!remboursement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="remboursement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.dateRemboursement" for="field_dateRemboursement">Date Remboursement</label>
            <div class="input-group">
                <input id="field_dateRemboursement" type="text" class="form-control" name="dateRemboursement" ngbDatepicker  #dateRemboursementDp="ngbDatepicker" [(ngModel)]="remboursement.dateRemboursement"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateRemboursementDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateRemboursement?.dirty && editForm.controls.dateRemboursement?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateRemboursement?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                [(ngModel)]="remboursement.montant" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                [(ngModel)]="remboursement.deleted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.isRembourse" for="field_isRembourse">Is Rembourse</label>
            <input type="checkbox" class="form-control" name="isRembourse" id="field_isRembourse"
                [(ngModel)]="remboursement.isRembourse" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.detailPret" for="field_detailPret">Detail Pret</label>
            <select class="form-control" id="field_detailPret" name="detailPret" [(ngModel)]="remboursement.detailPret"  required>
                <option *ngIf="!editForm.value.detailPret" [ngValue]="null" selected></option>
                <option [ngValue]="detailPretOption.id === remboursement.detailPret?.id ? remboursement.detailPret : detailPretOption" *ngFor="let detailPretOption of detailprets; trackBy: trackDetailPretById">{{detailPretOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.detailPret?.dirty && editForm.controls.detailPret?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.detailPret?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.userCreated" for="field_userCreated">User Created</label>
            <select class="form-control" id="field_userCreated" name="userCreated" [(ngModel)]="remboursement.userCreated" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === remboursement.userCreated?.id ? remboursement.userCreated : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.remboursement.userUpdated" for="field_userUpdated">User Updated</label>
            <select class="form-control" id="field_userUpdated" name="userUpdated" [(ngModel)]="remboursement.userUpdated" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === remboursement.userUpdated?.id ? remboursement.userUpdated : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
