<div>
    <h2>
        <span jhiTranslate="senPaieApp.absence.home.critere">Critéres de recherche</span>
    </h2>
    <div class="row">
        <form name="editForm" role="form" novalidate (ngSubmit)="search()" #editForm="ngForm">
            <table class="table">
                <tr>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.prenom" for="field_prenom">Prénom</label></td>
                    <td>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="prenom" name="prenom" id="field_prenom">
                        </div>
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.nom" for="field_nom">Nom</label></td>
                    <td>
                        <input type="text" [(ngModel)]="nom" name="nom" id="field_nom">
                    </td>
                    <td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.matricule" for="field_matri">Matricule</label></td>
                    <td>
                        <input type="text" [(ngModel)]="matricule" name="matricule" id="field_matri">
                    </td>
                    <!--<td><label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.date" for="field_dateNaissance">Date</label></td>
                    <td>
                        <div class="input-group">
                            <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker
                                   #dateNaissanceDp="ngbDatepicker" [minDate]="1960" [maxDate]="2018" [(ngModel)]="theDate"/>
                            <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </td>-->
                    <td>
                        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                            <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Rechercher</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <h2>

        <!--<button class="btn btn-primary float-right jh-create-entity create-remboursement" [routerLink]="['/', { outlets: { popup: ['remboursement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="senPaieApp.remboursement.home.createLabel">
            Create new Remboursement
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div id="myAbs">
        <div class="row">
            <div style="width: 70px"></div><h2><span jhiTranslate="senPaieApp.remboursement.home.title">Remboursements</span></h2>
        </div>
        <br/>
    <div class="table-responsive" *ngIf="remboursements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="dateRemboursement"><span jhiTranslate="senPaieApp.collaborateur.detail.title">Collaborateur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateRemboursement"><span jhiTranslate="senPaieApp.remboursement.dateRemboursement">Date Remboursement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="montant"><span jhiTranslate="senPaieApp.remboursement.montant">Montant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isRembourse"><span jhiTranslate="senPaieApp.remboursement.isRembourse">Is Rembourse</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="detailPret.id"><span jhiTranslate="senPaieApp.remboursement.detailPret">Detail Pret</span> <span class="fa fa-sort"></span></th>
            <th data-html2canvas-ignore="true"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let remboursement of remboursements ;trackBy: trackId">
                <td>
                    <div *ngIf="remboursement.detailPret">
                        <a [routerLink]="['../collaborateur', remboursement.detailPret?.collaborateur?.id ]" >
                            {{remboursement.detailPret?.collaborateur?.prenom}} {{remboursement.detailPret?.collaborateur.nom}}</a>
                    </div>
                </td>
                <td>{{remboursement.dateRemboursement | date:'mediumDate'}}</td>
                <td>{{remboursement.montant|number :'1.0'}}</td>
                <td>{{remboursement.isRembourse?'Oui':'Non'}}</td>
                <td>
                    <div *ngIf="remboursement.detailPret">
                        <a [routerLink]="['../detail-pret', remboursement.detailPret?.id ]" >{{remboursement.detailPret?.pret?.libelle}}</a>
                    </div>
                </td>

                <td class="text-right" data-html2canvas-ignore="true">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../remboursement', remboursement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'remboursement/'+ remboursement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->

                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'remboursement/'+ remboursement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <button type="submit"
            (click)="downLoadPdf()"
            class="btn btn-primary">
        <span class="fa fa-print"></span>&nbsp;<span jhiTranslate="global.imprimer"> Imprimer</span>
    </button>
    <div *ngIf="remboursements && remboursements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
