
<div *ngIf="primeCollab">
    <h2><span jhiTranslate="senPaieApp.primeCollab.detail.title">Prime Collab</span> {{primeCollab.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senPaieApp.primeCollab.montant">Montant</span></dt>
        <dd>
            <span>{{primeCollab.montant}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.primeCollab.deleted">Deleted</span></dt>
        <dd>
            <span>{{primeCollab.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.primeCollab.collaborateur">Collaborateur</span></dt>
        <dd>
            <div *ngIf="primeCollab.collaborateur">
                <a [routerLink]="['/collaborateur', primeCollab.collaborateur?.id]">{{primeCollab.collaborateur?.prenom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="senPaieApp.primeCollab.prime">Prime</span></dt>
        <dd>
            <div *ngIf="primeCollab.prime">
                <a [routerLink]="['/prime', primeCollab.prime?.id]">{{primeCollab.prime?.libelle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'prime-collab/'+ primeCollab.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
