
<div *ngIf="convention">
    <h2><span jhiTranslate="senPaieApp.convention.detail.title">Convention</span> {{convention.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senPaieApp.convention.libelle">Libelle</span></dt>
        <dd>
            <span>{{convention.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.convention.code">Code</span></dt>
        <dd>
            <span>{{convention.code}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.convention.deleted">Deleted</span></dt>
        <dd>
            <span>{{convention.deleted}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'convention/'+ convention.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
