<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMembreFamilleLabel" jhiTranslate="senPaieApp.membreFamille.home.createOrEditLabel">Create or edit a Membre Famille</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.photo" for="field_photo">Photo</label>
                        <div>
                            <img [src]="'data:' + membreFamille.photoContentType + ';base64,' + membreFamille.photo" style="max-height: 100px;" *ngIf="membreFamille.photo" alt="membreFamille image"/>
                            <div *ngIf="membreFamille.photo" class="form-text text-danger clearfix">
                                <span class="pull-left">{{membreFamille.photoContentType}}, {{byteSize(membreFamille.photo)}}</span>
                                <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                    <span class="fa fa-times"></span>
                                </button>
                            </div>
                            <input type="file" id="file_photo" (change)="setFileData($event, membreFamille, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                        </div>
                        <input type="hidden" class="form-control" name="photo" id="field_photo"
                               [(ngModel)]="membreFamille.photo" />
                        <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                               [(ngModel)]="membreFamille.photoContentType" />
                    </div>
                </td>
                <td style="width: 50%">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.prenom" for="field_prenom">Prenom</label>
                        <input type="text" class="form-control" name="prenom" id="field_prenom"
                               [(ngModel)]="membreFamille.prenom" required/>
                        <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.nom" for="field_nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="field_nom"
                               [(ngModel)]="membreFamille.nom" required/>
                        <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </td>
                <td style="width: 50%">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.collaborateur.telephone" for="field_tel">Téléphone</label>
                        <input id="field_tel" type="text" class="form-control" name="telephone"
                                   [(ngModel)]="membreFamille.telephone" />

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                        <div class="input-group">
                            <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker  #dateNaissanceDp="ngbDatepicker" [(ngModel)]="membreFamille.dateNaissance"
                            />
                            <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.adresse" for="field_adresse">Adresse</label>
                        <input type="text" class="form-control" name="adresse" id="field_adresse"
                               [(ngModel)]="membreFamille.adresse" required/>
                        <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.adresse?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.isActif" for="field_isActif">Is Actif</label>
                        <input type="checkbox" class="form-control" name="isActif" id="field_isActif"
                               [(ngModel)]="membreFamille.isActif" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.dateMariage" for="field_dateMariage">Date Mariage</label>
                        <div class="input-group">
                            <input id="field_dateMariage" type="text" class="form-control" name="dateMariage" ngbDatepicker  #dateMariageDp="ngbDatepicker" [(ngModel)]="membreFamille.dateMariage"
                            />
                            <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateMariageDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.collaborateur" for="field_collaborateur">Collaborateur</label>
                        <select class="form-control" id="field_collaborateur" required name="collaborateur" [(ngModel)]="membreFamille.collaborateur" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="collaborateurOption.id === membreFamille.collaborateur?.id ? membreFamille.collaborateur : collaborateurOption" *ngFor="let collaborateurOption of collaborateurs; trackBy: trackCollaborateurById">{{collaborateurOption.prenom}} {{collaborateurOption.nom}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="senPaieApp.membreFamille.typeRelation" for="field_typeRelation">Type Relation</label>
                        <select class="form-control" id="field_typeRelation" required name="typeRelation" [(ngModel)]="membreFamille.typeRelation" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="typeRelationOption.id === membreFamille.typeRelation?.id ? membreFamille.typeRelation : typeRelationOption" *ngFor="let typeRelationOption of typerelations; trackBy: trackTypeRelationById">{{typeRelationOption.libelle}}</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
