<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAbsenceLabel" jhiTranslate="senPaieApp.absence.home.createOrEditLabel">Create or edit a Absence</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!absence.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="absence.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.dateAbsence" for="field_dateAbsence">Date Absence</label>
            <div class="input-group">
                <input id="field_dateAbsence" type="text" class="form-control" name="dateAbsence" ngbDatepicker  #dateAbsenceDp="ngbDatepicker" [(ngModel)]="absence.dateAbsence"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateAbsenceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateAbsence?.dirty && editForm.controls.dateAbsence?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateAbsence?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                [(ngModel)]="absence.deleted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.dateCreated" for="field_dateCreated">Date Created</label>
            <div class="input-group">
                <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker  #dateCreatedDp="ngbDatepicker" [(ngModel)]="absence.dateCreated"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.userCreated" for="field_userCreated">User Created</label>
            <select class="form-control" id="field_userCreated" name="userCreated" [(ngModel)]="absence.userCreated" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === absence.userCreated?.id ? absence.userCreated : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.userUpdated" for="field_userUpdated">User Updated</label>
            <select class="form-control" id="field_userUpdated" name="userUpdated" [(ngModel)]="absence.userUpdated" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === absence.userUpdated?.id ? absence.userUpdated : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.userDeleted" for="field_userDeleted">User Deleted</label>
            <select class="form-control" id="field_userDeleted" name="userDeleted" [(ngModel)]="absence.userDeleted" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === absence.userDeleted?.id ? absence.userDeleted : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.collaborateur" for="field_collaborateur">Collaborateur</label>
            <select class="form-control" id="field_collaborateur" name="collaborateur" [(ngModel)]="absence.collaborateur"  required>
                <option *ngIf="!editForm.value.collaborateur" [ngValue]="null" selected></option>
                <option [ngValue]="collaborateurOption.id === absence.collaborateur?.id ? absence.collaborateur : collaborateurOption" *ngFor="let collaborateurOption of collaborateurs; trackBy: trackCollaborateurById">{{collaborateurOption.prenom}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.collaborateur?.dirty && editForm.controls.collaborateur?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.collaborateur?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.motif" for="field_motif">Motif</label>
            <select class="form-control" id="field_motif" name="motif" [(ngModel)]="absence.motif"  required>
                <option *ngIf="!editForm.value.motif" [ngValue]="null" selected></option>
                <option [ngValue]="motifOption.id === absence.motif?.id ? absence.motif : motifOption" *ngFor="let motifOption of motifs; trackBy: trackMotifById">{{motifOption.libelle}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.motif?.dirty && editForm.controls.motif?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.motif?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.absence.exercice" for="field_exercice">Exercice</label>
            <select class="form-control" id="field_exercice" name="exercice" [(ngModel)]="absence.exercice"  required>
                <option *ngIf="!editForm.value.exercice" [ngValue]="null" selected></option>
                <option [ngValue]="exerciceOption.id === absence.exercice?.id ? absence.exercice : exerciceOption" *ngFor="let exerciceOption of exercices; trackBy: trackExerciceById">{{exerciceOption.debutExercice}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.exercice?.dirty && editForm.controls.exercice?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.exercice?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
