
<div *ngIf="avantageCollab">
    <h2><span jhiTranslate="senPaieApp.avantageCollab.detail.title">Avantage Collab</span> {{avantageCollab.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="senPaieApp.avantageCollab.montant">Montant</span></dt>
        <dd>
            <span>{{avantageCollab.montant}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.avantageCollab.deleted">Deleted</span></dt>
        <dd>
            <span>{{avantageCollab.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="senPaieApp.avantageCollab.collaborateur">Collaborateur</span></dt>
        <dd>
            <div *ngIf="avantageCollab.collaborateur">
                <a [routerLink]="['/collaborateur', avantageCollab.collaborateur?.id]">{{avantageCollab.collaborateur?.prenom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="senPaieApp.avantageCollab.avantage">Avantage</span></dt>
        <dd>
            <div *ngIf="avantageCollab.avantage">
                <a [routerLink]="['/avantage', avantageCollab.avantage?.id]">{{avantageCollab.avantage?.libelle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'avantage-collab/'+ avantageCollab.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
