
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExerciceLabel" jhiTranslate="senPaieApp.exercice.home.createOrEditLabel">Create or edit a Exercice</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.exercice.debutExercice" for="field_debutExercice">Debut Exercice</label>
            <input type="number" class="form-control" name="debutExercice" id="field_debutExercice"
                [(ngModel)]="exercice.debutExercice" required/>
            <div [hidden]="!(editForm.controls.debutExercice?.dirty && editForm.controls.debutExercice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.debutExercice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.debutExercice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.exercice.finExercice" for="field_finExercice">Fin Exercice</label>
            <input type="number" class="form-control" name="finExercice" id="field_finExercice"
                [(ngModel)]="exercice.finExercice" required/>
            <div [hidden]="!(editForm.controls.finExercice?.dirty && editForm.controls.finExercice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.finExercice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.finExercice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>-->
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="senPaieApp.exercice.actif" for="field_actif">Actif</label>
            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                [(ngModel)]="exercice.actif" />
        </div>-->


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
